<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>555970896582-9nokaobj7rfu7cmqb8u624d8bp7rs34n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.555970896582-9nokaobj7rfu7cmqb8u624d8bp7rs34n</string>
	<key>API_KEY</key>
	<string>AIzaSyCT_Li8oNtz5u_QSADCYTO9uypYVZ-SzSM</string>
	<key>GCM_SENDER_ID</key>
	<string>555970896582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teamProjectWinter</string>
	<key>PROJECT_ID</key>
	<string>appteamproject2021winter</string>
	<key>STORAGE_BUCKET</key>
	<string>appteamproject2021winter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:555970896582:ios:32d9b1aaea4cb98111adc7</string>
</dict>
</plist>